a {
    color: #fff;
}

links {
    margin-left: 200px;
}

.nav-link {
    color: #232323;
    font-size: 14px;
    padding-left: 40px !important;
}

#sale-button {
    all: unset;
}

button.btn-danger {
    border: 0.2em solid #ed193a;
    border-radius: 10px;
    padding: 0;
    width: 70px;
    height: 35px;
    margin-top: auto;
}

a.btn {
    color: #fff;
}

.thumbnail {
    width: 80px;
    height: 80px;
    border-radius: 100%;
    background-size: cover;
}

ul {
    list-style-type: none;
}

span.navbar-toggler-icon {
    float: right;
    color: #232323 !important;
    background-color: #232323 !important;
}

#login:hover {
    color: #424242 !important;
    .fa:hover {
        color: #424242 !important;
    }
}