.view {
    background: url('/assets/images/hero.jpeg') no-repeat center center;
    background-size: cover;
    height: 100vh;
}

h1,
{
    font-family: 'Raleway', sans-serif;
    font-size: 60px;
    margin-bottom: 350px;
    padding: 0 0;
}

.sub-heading {
    font-size: 30px;
}

a {
    color: #fff;
}