<header class="h-100">
    <div class="view">
        <div class="full-bg-img">
            <div class="flex-center">
                <div class="container">
                    <div class="white-text text-center wow fadeInUp">
                        <h1>Welcome to Ooh La Lava<br>
                            <span class="sub-heading">Essential Oil Jewellery Australia</span></h1>
                        <br>

                        <button class="btn btn-danger  waves-light" mdbWavesEffect><a routerLink="/contact"> Shop Sale Items</a></button><button class="btn btn-default waves-light" mdbWavesEffect><a routerLink="/hire">Shop Best Sells</a></button>
                    </div>
                </div>
            </div>
        </div>
    </div>