.btn {
    display: block;
    margin: 10px auto;
    float: left;
}

.container {
    margin-bottom: 60px;
<<<<<<< HEAD
=======
    padding-bottom: 100px;
>>>>>>> 987ba9ac6eedf280e254daf36badeaa3a222cd76
}

.thumbnail {
    width: 80px;
    height: 80px;
    border-radius: 100%;
    background-size: cover;
}