<!-- Make a form control object for each input field:
This form returns as a json object into firebase -->

<!-- Using ngModel directive (need to import the FormsModule) -->
<!-- THIS DISPALYS THE ADDING NEW PRODUCTS FORM -->
<!-- https://github.com/yuyang041060120/ng2-validation (Validation Libary) -->

<div class="row">
    <div class="col-md-6">
        <div class="container mt-5">
            <div id="productform">
                <form #f="ngForm" (ngSubmit)="save(f.value)">
                    <div class="form-group">
                        <label for="title">Title</label>
                        <input #title="ngModel" [(ngModel)]="product.title" name="title" id="title" type="text" class="form-control" required>
                        <div class="alert alert-danger" *ngIf="title.touched && title.invalid">
                            Title is required.
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="price">Price</label>
                        <div class="input-group">
                            <span class="input-group-addon">$</span>
                            <input #price="ngModel" [(ngModel)]="product.price" name="price" id="price" type="number" class="form-control" required [min]="1">
                        </div>

                        <div class="alert alert-danger" *ngIf="price.touched && price.invalid">
                            <div *ngIf="price.errors.required">Price is required.</div>
                            <div *ngIf="price.errors.min">Price should be 0 or higher.</div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="category">Category</label>
                        <select #category="ngModel" [(ngModel)]="product.category" name="category" id="category" class="form-control" required>
                                  <option value=""></option>
                                  <option *ngFor="let c of categories$ | async" [value]="c.$key">{{ c.name }}</option>
                               </select>
                        <div class="alert alert-danger" *ngIf="category.touched && category.invalid">
                            Category is required.
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="description">Description</label><br>
                        <input #imgUrl="ngModel" [(ngModel)]="product.description" name="description" id="description" type="text" class="form-control">

                    </div>

                    <div class="form-group">
                        <label for="imageUrl">Image Url</label><br>
                        <input #imgUrl="ngModel" [(ngModel)]="product.imgUrl" name="imgUrl" id="imgUrl" type="text" class="form-control" required url>
                        <div class="alert alert-danger" *ngIf="imgUrl.touched && imgUrl.invalid">
                            <div *ngIf="imgUrl.errors.required">Image URL is required.</div>
                            <div *ngIf="imgUrl.errors.url">Please enter a valid URL.</div>
                        </div>
                    </div>
                    <button class="btn btn-primary">Save</button>
                    <button type="button" (click)="delete()" class="btn btn-danger waves-light" mdbWavesEffect>DELETE</button>
                </form>
            </div>
        </div>

    </div>

    <div class="col-md-6">
        <app-product-card [product]="product" [showActions]="false"></app-product-card>
    </div>
</div>