button {
    display: block;
    margin: 0 auto;
    margin-top: 80px;
}

.fa {
    font-size: 18px;
    padding-right: 10px;
    margin-left: -6px;
}

#loginform {
    width: 50%;
    margin: 0 auto;
}