<div class="container">
    <div class="zippy">
        <!-- Class binding -->
        <div class="zippy-heading" [class.expanded]="isExpanded" (click)="toggle()">{{ tittle }}


            <i class="fa" [ngClass]="{
            'fa-sort-asc': isExpanded,
            'fa-sort-desc':!isExpanded
           }"></i>
        </div>
        <div *ngIf="isExpanded" class="zippy-body">
            <ng-content></ng-content>
        </div>
    </div>
</div>

<!-- ngClass allows one or more key value pairs for class binding, each key represents a css class and the value of     the class depeneds if it needs to be rendered or not? 

key='fa-sort-asc':  value=isExpanded (if true will be rendered in the DOM)
key='fa-sort-desc': value=!isExpanded (if is not selected)
-->

<!-- ngClass is an attribute directive use to modify attributes of an exsisting DOM element -->