.container {
    width: 50%;
}

.zippy {
    border: 1px solid #ccc;
    border-radius: 2px;
}

.zippy-heading {
    font-size: 22px;
    font-weight: bold;
    padding: 20px 10px;
    cursor: pointer;
}

.zippy-body {
    padding: 20px 10px;
}

.expanded {
    background: #f0f0f0;
}

.fa {
    float: right;
}