        /* You can add global styles to this file, and also import other style files */
        /* @import "~bootstrap/dist/css/bootstrap.css" */
        
        .list-group-item.active {
            z-index: 2;
            color: #fff;
            background-color: #37474F;
            border-color: #263238;
        }
        
        .list-group-item {
            width: 150px;
        }
        
        @media (max-width:400px) {
            .col-3 {
                color: #808080;
                margin-top: 4em;
            }
            .list-group-item {
                margin-top: 0px;
                padding-top: 0;
                font-weight: 400;
            }
            .list-group-item.active {
                z-index: 2;
                color: #808080;
                background-color: #f8f8f8;
                border-color: #3f51b5;
            }
            .card-text {
                color: #FFAF02 !important;
                font-size: 1em;
            }
            .button.navbar-toggler {
                color: #222222 !important;
            }
        }
        
        .thumbnail {
            box-shadow: 0 0 0 0;
        }
        /* -------------------- */
        
        .error {
            background: #f1f0ef;
            padding: 1em;
            width: 100%;
            display: block;
            margin-bottom: 20px;
        }
        
        #goback {
            font-weight: bold;
            text-transform: uppercase;
            font-size: .8em;
            color: #3B8598;
        }
        
        #goback span {
            font-size: 1em;
        }
        
        .loading {
            width: 30px;
            height: 30px;
            border: 5px solid #ccc;
            position: fixed;
            left: 50%;
            margin-left: -20px;
            top: 50%;
            margin-top: -20px;
            border-radius: 50%;
        }
        
        .loading:after {
            content: '';
            position: absolute;
            width: 40px;
            height: 10px;
            background: #E2E4E6;
            top: 10px;
            left: -5px;
            animation: spin 1.2s infinite;
        }
        
        @keyframes spin {
            100% {
                transform: rotate(360deg);
            }
        }
        
        @media (max-width:400px) {
            body {
                padding-top: 1.2em;
            }
            form {
                margin: 30px auto;
                width: 100%;
            }
            .form-header {
                width: 100%;
            }
            .container {
                padding-top: 50px;
            }
            #top-nav {
                padding-top: 0;
                margin-top: -20px;
            }
            #sale-button {
                width: 30%;
                float: left;
                display: block;
            }
            #cart-button {
                float: right;
                display: block;
            }
            .navbar {
                height: 70%;
            }
        }